<footer class="footer">
    <div class="footer__down">
        <div class="grid wide">
            <div class="row">
                <div class="col l-4">
                    <div class="footer__down-list">
                        <div class="footer__down-list-col">
                            <h1 class="footer__down-list-col-title">Về chúng tôi</h1>
                            <p class="footer__down-list-col-text">Chúng tôi rất vinh hanh khi được phục vụ các ban. Chúc bạn sẽ có những trải nghiệm tuyệt vời nhất!</p>
                            <ul class="footer__down-list-col-link">
                                <li class="footer__down-list-col-item">
                                    <a href="https://www.facebook.com/">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li class="footer__down-list-col-item">
                                    <a href="https://www.instagram.com/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="footer__down-list-col-item">
                                    <a href="https://github.com/">
                                        <i class="fab fa-github-square"></i>
                                    </a>
                                </li>
                                <li class="footer__down-list-col-item">
                                    <a href="https://www.linkedin.com/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col l-4">
                    <section class="footer__down-list-col">
                        <h1 class="footer__down-list-col-title">Bản đồ</h1>
                        <img src="/img/map.PNG" alt="">
                    </section>
                </div>
                <div class="col l-4">
                    <div class="footer__down-list">
                        <div class="footer__down-list-col">
                            <h1 class="footer__down-list-col-title">Liên hệ với chúng tôi</h1>
                            <div class="footer__down-list-col-list">
                                <div class="footer__down-list-col-item">
                                    <i class="footer__down-list-col-item-icon fas fa-map-marker-alt"></i>
                                    <section class="footer__down-list-col-item-wrap">
                                        <h2>Địa chỉ</h2>
                                        <p>Thị trấn Cồn - Hải Hậu - Nam Định.</p>
                                    </section>
                                </div>
                                <div class="footer__down-list-col-item">
                                    <i class="footer__down-list-col-item-icon fas fa-phone"></i>
                                    <section class="footer__down-list-col-item-wrap">
                                        <h2>Liên lạc</h2>
                                        <p>+84 8676741010</p>
                                        <p>+84 8676741111</p>
                                    </section>
                                </div>
                                <div class="footer__down-list-col-item">
                                    <i class="footer__down-list-col-item-icon fas fa-envelope"></i>
                                    <section class="footer__down-list-col-item-wrap">
                                        <h2>Email</h2>
                                        <a href="">nblue@thelibrary.com</a>
                                    </section>
                                </div>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const footer = document.querySelector(".footer");
        const containerUser = document.querySelector(".container-users");
        if(containerUser != null) footer.classList.add("active");
        else footer.classList.remove("active");
    </script>
</footer>