<header class="header">
    <div class="grid">
        <div class="navbar">
            <section class="logo">
                <a href="#" class="logo-link">
                    <img class="logo-img" src="/img/logo.png" alt="Logo" />
                </a>
            </section>
            <div class="navbar-control">
                <div class="navbar-list">
                    <!-- Navbar trong giao dien nguoi dung -->
                    <div class="navbar-client">
                        <div class="navbar-item">
                            <a href="" class="navbar-link">HOME</a>
                        </div>
                        <div class="navbar-item">
                            <a href="" class="navbar-link">OUT BOOKS</a>
                        </div>
                        <div class="navbar-item">
                            <a href="" class="navbar-link">AUTHORS</a>
                        </div>
                        <!-- <div class="navbar-item">
                                        <a href="" class="navbar-link">CONTACT</a>
                                    </div> -->
                    </div>
                    <!-- Navbar trong admin manager -->
                    <div class="navbar-admin active">
                        <div class="navbar-item active">
                            <a href="/admin/books" class="navbar-link">Quản lí sách
                                <i class="navbar-item_icon fas fa-book-open"></i>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="/admin/users" class="navbar-link">Quản lí người dùng
                                <i class="navbar-item_icon fas fa-user"></i></a>
                        </div>
                        <div class="navbar-item">
                            <a href="/admin/authors" class="navbar-link">Quản lí tác giả
                                <i class="navbar-item_icon fas fa-feather-alt"></i></a>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="navbar-group">
                    <div class="search-wrap">
                        <input
                            type="text"
                            class="search-input"
                            placeholder="Search....."
                        />
                        <div class="search-btn">
                            <i class="search-icon fas fa-search"></i>
                        </div>
                    </div>
                    <div class="navbar-user">
                        <div class="noti">
                            <section class="bell-noti">
                                <i class="fa fa-bell bell-noti-icon"></i>
                                <div class="bell-noti-status"></div>
                            </section>
                        </div>
                        <div class="cart">
                            <section class="cart-btn">
                                <i class="store-icon fas fa-store"></i>
                                <span class="cart-quantity">0</span>
                            </section>
                        </div>
                        <div class="user">
                            <section class="user-btn">
                                <i class="user-icon fas fa-user-circle"></i>
                            </section>
                            <ul class="user__list">
                                <li class="user__item"><a
                                        href=""
                                        class="user__item-link"
                                    >Tài khoản của tôi</a></li>
                                <li class="user__item"><a
                                        href=""
                                        class="user__item-link"
                                    >Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    //const tabs = document.querySelectorAll(".navbar-item");
    const line = document.querySelector(".navbar-list .line");

    window.onload = function () { 
        const adminBook = document.querySelector(".admin-books");
        const adminUser = document.querySelector(".admin-users");
        const adminAuthor = document.querySelector(".admin-authors");
        var index;
        if(adminAuthor != null){
            index = 3;
        } else if(adminUser != null){
            index = 2
        } else if(adminBook != null){
            index = 1;
        }
        console.log(index);
        const tabs = document.querySelectorAll(".navbar-admin .navbar-item");
        console.log(tabs);

        //tabs.forEach((tab, index) => {
        //    tab.addEventListener("click", function() {
        //         document.querySelector(".navbar-item.active").classList.remove("active");
        //        this.classList.add("active"); 
        //
        //        line.style.left = this.offsetLeft + "px";
        //        line.style.width = this.offsetWidth + "px";
        //    })
        //})
    }
</script>