<nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
    <section class="logo">
        <a href="#" class="logo-link">
            <img class="logo-img" src="/img/logo.png" alt="Logo" />
        </a>
    </section>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar trong admin manager -->
        <ul class="navbar-nav mr-auto navbar-admin">
            <li class="navbar-item nav-item" onclick="onActive(this)">
                <a class="nav-link navbar-link" href="/admin/books">Quản lí sách</a>
            </li>
            <li class="navbar-item nav-item" onclick="onActive(this)">
                <a class="nav-link navbar-link" href="/admin/authors">Quản lí tác giả</a>
            </li>
            <li class="navbar-item nav-item" onclick="onActive(this)">
                <a class="nav-link navbar-link" href="/admin/users">Quản lí người dùng</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-client active">
            <li class="navbar-item nav-item active" onclick="onActive(this)">
                <a class="nav-link navbar-link" href="/">TRANG CHỦ</a>
            </li>
            <li class="navbar-item nav-item dropdown" onclick="onActive(this)">
                <a class="navbar-link nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SÁCH
                </a>
                <div class="dropdown-menu navbar-item-list" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item navbar-item-item" href="/books/khcn">Khoa học công nghệ - Kinh tế</a>
                    <a class="dropdown-item navbar-item-item" href="/books/vhnt">Văn học nghệ thuật</a>
                    <a class="dropdown-item navbar-item-item" href="/books/vhxh">Văn hóa xã hội - Lịch sử</a>
                    <a class="dropdown-item navbar-item-item" href="/books/gt">Giáo trình</a>
                    <a class="dropdown-item navbar-item-item" href="/books/tt">Truyện, tiểu thuyết</a>
                    <a class="dropdown-item navbar-item-item" href="/books/tltg">Tâm lý, tâm linh, tôn giáo</a>
                    <a class="dropdown-item navbar-item-item" href="/books/stn">Sách thiếu nhi</a>
                </div>
            </li>
            <li class="navbar-item nav-item" onclick="onActive(this)">
                <a class="nav-link navbar-link" href="/authors">TÁC GIẢ</a>
            </li>
        </ul>
        
        <div class="navbar-group">
            <form class="form-inline my-2 my-lg-0 search-wrap">
                <input class="search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="search-btn" type="submit">
                    <img class="search-icon" src="/img/other/search.png" alt="">
                </button>
            </form>       
            <div class="navbar-user">
                {{!-- <div class="noti">
                    <section class="bell-noti">
                        <i class="fa fa-bell bell-noti-icon"></i>
                        <div class="bell-noti-status"></div>
                    </section>
                </div> --}}
                <div class="cart">
                    {{#if context}}
                    <section class="cart-btn">
                        <i class="store-icon fas fa-store"></i>
                        <span class="cart-quantity">0</span>
                    </section>
                    {{/if}}
                </div>
                <div class="user">
                    <section class="not-login active">
                        <a href="/login" class="">Đăng nhập</a>
                    </section>
                    {{#if context}}
                    <section data-id="{{context.IdUser}}" class="user-login">
                        <i class="user-icon fas fa-user-circle"></i>
                        {{!-- <img class="user-avatar" src="/img/other/avatar_default.jpg" alt=""> --}}
                        <p class="user-name">{{context.Username}}</p>
                    </section>
                    {{/if}}

                    {{#if contextManager}}
                    <section data-id="{{contextManager.IdManager}}" class="user-login user-manager">
                        <i class="user-icon fas fa-user-circle"></i>
                        {{!-- <img class="user-avatar" src="/img/other/avatar_default.jpg" alt=""> --}}
                        <p class="user-name">{{contextManager.Username}}</p>
                    </section>
                    {{/if}}
                    <ul class="user__list">
                        <li class="user__item"><a
                                href=""
                                class="user__item-link"
                            >Tài khoản của tôi</a></li>
                        <li class="user__item user__back"><a
                                href="http://localhost:3000/login"
                                class="user__item-link"
                            >Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const $ = document.querySelector.bind(document);
    const $$= document.querySelectorAll.bind(document);
    const navAdmin = $(".navbar-admin");
    const navClient = $(".navbar-client");
    const containerUser = $(".container-users");
    const containerAdmin = $(".container-admin");
    const BackAcc = $(".navbar-user .user__back");

        
    var itemActive = document.querySelector(".nav-item.active")
    function onActive(value){
        itemActive.classList.remove("active");
        value.classList.add("active");
    }    

    if(containerUser != null){
        navClient.classList.add("active");
        navAdmin.classList.remove("active");
    }

    const userLogin = document.querySelector(".user-login");
    const notLogin = document.querySelector(".not-login");
    if(userLogin != null){
        var dataId = userLogin.getAttribute("data-id");
        if(dataId !== ""){
            userLogin.classList.add("active");
            notLogin.classList.remove("active");
        }else{
            userLogin.classList.remove("active");
            notLogin.classList.add("active");
        }
    } 
</script>