<nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
    <section class="logo">
        <a href="/" class="logo-link">
            <img class="logo-img" src="/img/logo.png" alt="Logo" />
        </a>
    </section>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/books">Quản lí sách<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/authors">Quản lí tác giả</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Quản lí người dùng</a>
            </li>
        </ul>
        <div class="navbar-group">
            <form class="form-inline my-2 my-lg-0 search-wrap">
                <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="search-btn" type="submit"><i class="search-icon fas fa-search"></i></button>
            </form>       
            <div class="navbar-user">
                {{!-- <div class="noti">
                    <section class="bell-noti">
                        <i class="fa fa-bell bell-noti-icon"></i>
                        <div class="bell-noti-status"></div>
                    </section>
                </div> --}}
                <div class="cart">
                    {{#if context}}
                    <section class="cart-btn">
                        <i class="store-icon fas fa-store"></i>
                        <span class="cart-quantity">0</span>
                    </section>
                    {{/if}}
                </div>
                <div class="user">
                    <section class="not-login active">
                        <a href="/login" class="">Đăng nhập</a>
                    </section>
                    {{#if context}}
                    <section data-id="{{context.IdUser}}" class="user-login">
                        <i class="user-icon fas fa-user-circle"></i>
                        {{!-- <img class="user-avatar" src="/img/other/avatar_default.jpg" alt=""> --}}
                        <p class="user-name">{{context.Username}}</p>
                    </section>
                    {{/if}}

                    {{#if contextManager}}
                    <section data-id="{{contextManager.IdManager}}" class="user-login user-manager">
                        <i class="user-icon fas fa-user-circle"></i>
                        {{!-- <img class="user-avatar" src="/img/other/avatar_default.jpg" alt=""> --}}
                        <p class="user-name">{{contextManager.Username}}</p>
                    </section>
                    {{/if}}
                    <ul class="user__list">
                        <li class="user__item"><a
                                href=""
                                class="user__item-link"
                            >Tài khoản của tôi</a></li>
                        <li class="user__item user__back"><a
                                href="http://localhost:3000/login"
                                class="user__item-link"
                            >Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    /*$(document).ready(function() {
        $("#book-man").on("click", function(event) {
            event.preventDefault();
            const data = $(this).serialize();
            console.log(data);
            $.ajax({
                type: "GET",
                url: "/admin/books",
                data: data,
                success: function(result){
                    console.log(result);
                    {{!-- let html = res.toString().slice(res.toString().indexOf('<div class="container-admin">'), res.toString().indexOf('<footer class="footer">'))
                    console.log(html); --}}

                    $(".container > .grid").html(`<p>Xin chao cac ban<p>`)
                    console.log("Successfull");
                },
                error: function(){

                }    
            })
        })
    }) */
    /*window.onload = function () { 
        const line = document.querySelector(".navbar-list .line");
        const navAdmin = document.querySelector(".navbar-admin");
        const navClient = document.querySelector(".navbar-client");
        const containerUser = document.querySelector(".container-users");
        const containerAdmin = document.querySelector(".container-admin");
        const BackAcc = document.querySelector(".navbar-user .user__back");

        if(containerAdmin != null){
            navAdmin.classList.add("active");
            navClient.classList.remove("active");
            const adminBook = document.querySelector(".admin-books");
            const adminUser = document.querySelector(".admin-users");
            const adminAuthor = document.querySelector(".admin-authors");
            var count;
            if(adminAuthor != null){
                count = 2;
            } else if(adminUser != null){
                count = 3
            } else if(adminBook != null){
                count = 1;
            }
            console.log(count);
            const tabs = document.querySelectorAll(".navbar-admin .navbar-item");
            tabs.forEach((tab, index) => {
                if(index + 1 === count ){
                    tab.classList.add("active"); 
                    line.style.left = tab.offsetLeft + "px";
                    line.style.width = tab.offsetWidth + "px";
                }
            })
            

        }
        if(containerUser != null){
            navClient.classList.add("active");
            navAdmin.classList.remove("active");
        }
    }

    const userLogin = document.querySelector(".user-login");
    const notLogin = document.querySelector(".not-login");
    if(userLogin != null){
        var dataId = userLogin.getAttribute("data-id");
        if(dataId !== ""){
            userLogin.classList.add("active");
            notLogin.classList.remove("active");
        }else{
            userLogin.classList.remove("active");
            notLogin.classList.add("active");
        }
    } */
</script>