<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/books">Quản lí sáchSách<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/authors">Quản lí tác giả</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Quản lí người dùng</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
    /*$(document).ready(function() {
        $("#book-man").on("click", function(event) {
            event.preventDefault();
            const data = $(this).serialize();
            console.log(data);
            $.ajax({
                type: "GET",
                url: "/admin/books",
                data: data,
                success: function(result){
                    console.log(result);
                    {{!-- let html = res.toString().slice(res.toString().indexOf('<div class="container-admin">'), res.toString().indexOf('<footer class="footer">'))
                    console.log(html); --}}

                    $(".container > .grid").html(`<p>Xin chao cac ban<p>`)
                    console.log("Successfull");
                },
                error: function(){

                }    
            })
        })
    }) */
    /*window.onload = function () { 
        const line = document.querySelector(".navbar-list .line");
        const navAdmin = document.querySelector(".navbar-admin");
        const navClient = document.querySelector(".navbar-client");
        const containerUser = document.querySelector(".container-users");
        const containerAdmin = document.querySelector(".container-admin");
        const BackAcc = document.querySelector(".navbar-user .user__back");

        if(containerAdmin != null){
            navAdmin.classList.add("active");
            navClient.classList.remove("active");
            const adminBook = document.querySelector(".admin-books");
            const adminUser = document.querySelector(".admin-users");
            const adminAuthor = document.querySelector(".admin-authors");
            var count;
            if(adminAuthor != null){
                count = 2;
            } else if(adminUser != null){
                count = 3
            } else if(adminBook != null){
                count = 1;
            }
            console.log(count);
            const tabs = document.querySelectorAll(".navbar-admin .navbar-item");
            tabs.forEach((tab, index) => {
                if(index + 1 === count ){
                    tab.classList.add("active"); 
                    line.style.left = tab.offsetLeft + "px";
                    line.style.width = tab.offsetWidth + "px";
                }
            })
            

        }
        if(containerUser != null){
            navClient.classList.add("active");
            navAdmin.classList.remove("active");
        }
    }

    const userLogin = document.querySelector(".user-login");
    const notLogin = document.querySelector(".not-login");
    if(userLogin != null){
        var dataId = userLogin.getAttribute("data-id");
        if(dataId !== ""){
            userLogin.classList.add("active");
            notLogin.classList.remove("active");
        }else{
            userLogin.classList.remove("active");
            notLogin.classList.add("active");
        }
    } */
</script>