<div class="container-admin">
    <div class="admin-users">
        <div class="row">
            <div class="admin-control">
                <div class="btn chart-btn">
                    Thống kê
                    <i class=" chart-icon fas fa-chart-pie"></i>
                </div>
                <div class="btn sort-btn">
                    <p class="sort-title">Sắp xếp</p>
                    <i class="left-icon fas fa-chevron-left"></i>
                    <ul class="sort-list">
                        <li class="sort-item">ID</li>
                        <li class="sort-item">
                            Điểm uy tín tăng
                        </li>
                        <li class="sort-item">
                            Điểm uy tín giảm
                        </li>
                        <li class="sort-item">
                            Tài khoản bị khóa
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-2">
            </div>
            <div class="col l-10">
                <div class="user__label">
                    <p class="id">ID</p>
                    <p class="username">Tài khoản</p>
                    <p class="fullname">Họ và tên</p>
                    <p class="phone">Email</p>
                    <p class="address">Địa chỉ</p>
                    <p class="lockStatus">Trạng thái khóa</p>
                    <p class="lockNumber">Số lần bị khóa</p>
                    <p class="score">Điểm</p>
                </div>
                <div class="user__list">
                    <div class="user__item">
                        <section class="user__item-id"><p class="id">U1</p></section>
                        <section class="user__item-username"><p class="username">user</p></section>
                        <section class="user__item-fullname"><p class="fullname">Nguyễn Phương Nam</p></section>
                        <section class="user__item-phone"><p class="phone">0123456789</p></section>
                        <section class="user__item-address"><p class="address">Hải Xuân</p></section>
                        <section class="user_item-borrow__book">
                            <p class="borrow_book">5</p>
                        </section>
                        <section class="section user__item-score">
                            <p class="score">100</p>
                        </section>
                    </div>
                    <div class="user__item">
                        <section class="user__item-id"><p class="id">U1</p></section>
                        <section class="user__item-username"><p class="username">user</p></section>
                        <section class="user__item-fullname"><p class="fullname">Nguyễn Phương Nam</p></section>
                        <section class="user__item-phone"><p class="phone">0123456789</p></section>
                        <section class="user__item-address"><p class="address">Hải Xuân</p></section>
                        <section class="user_item-borrow__book">
                            <p class="borrow_book">5</p>
                        </section>
                        <section class="section user__item-score">
                            <p class="score">100</p>
                        </section>
                    </div>
                    <div class="user__item">
                        <section class="user__item-id"><p class="id">U1</p></section>
                        <section class="user__item-username"><p class="username">user</p></section>
                        <section class="user__item-fullname"><p class="fullname">Nguyễn Phương Nam</p></section>
                        <section class="user__item-phone"><p class="phone">0123456789</p></section>
                        <section class="user__item-address"><p class="address">Hải Xuân</p></section>
                        <section class="user_item-borrow__book">
                            <p class="borrow_book">5</p>
                        </section>
                        <section class="section user__item-score">
                            <p class="score">100</p>
                        </section>
                    </div>
                    <div class="user__item">
                        <section class="user__item-id"><p class="id">U1</p></section>
                        <section class="user__item-username"><p class="username">user</p></section>
                        <section class="user__item-fullname"><p class="fullname">Nguyễn Phương Nam</p></section>
                        <section class="user__item-phone"><p class="phone">0123456789</p></section>
                        <section class="user__item-address"><p class="address">Hải Xuân</p></section>
                        <section class="user_item-borrow__book">
                            <p class="borrow_book">5</p>
                        </section>
                        <section class="section user__item-score">
                            <p class="score">100</p>
                        </section>
                    </div>
                    <div class="user__item">
                        <section class="user__item-id"><p class="id">U1</p></section>
                        <section class="user__item-username"><p class="username">user</p></section>
                        <section class="user__item-fullname"><p class="fullname">Nguyễn Phương Nam</p></section>
                        <section class="user__item-phone"><p class="phone">0123456789</p></section>
                        <section class="user__item-address"><p class="address">Hải Xuân</p></section>
                        <section class="user_item-borrow__book">
                            <p class="borrow_book">5</p>
                        </section>
                        <section class="section user__item-score">
                            <p class="score">100</p>
                        </section>
                    </div>
                                                        
                </div>
                <div class="pagination">
                    <ul class="pagination-list">
                        <li class="pagination-item">
                            <a href="" class="pagination-prev"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">2</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">3</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-next"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>