<div class="container-users">
    <!-- HOME -->
    <div class="home">
        <div class="slider">
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/slide1.png);"
            >
                <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                <p class="slider__item-p">Sed ut perspiciatis unde omnis iste
                    natus error sit voluptatem accusantium dolor emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <a href="" class="btn slider__item-btn">SEE MORE</a>
            </div>
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/slide2.png);"
            >
                <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                <p class="slider__item-p">Sed ut perspiciatis unde omnis iste
                    natus error sit voluptatem accusantium dolor emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <a href="" class="btn slider__item-btn">SEE MORE</a>
            </div>
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/slide3.png);"
            >
                <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                <p class="slider__item-p">Sed ut perspiciatis unde omnis iste
                    natus error sit voluptatem accusantium dolor emque
                    laudantium, totam rem aperiam.ipsam voluptatem.</p>
                <a href="" class="btn slider__item-btn">SEE MORE</a>
            </div>
            <!-- <i class="btn_prev fas fa-chevron-left"></i>
            <ul class="slider__dots">
                <li class="slider__dots-item" data-index="0"></li>
                <li class="slider__dots-item" data-index="1"></li>
                <li class="slider__dots-item" data-index="2"></li>
            </ul>
            <div class="slider__wrapper">
                <div class="slider__main">
                    <div class="slider__item" style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url(/img/slide1.png);">
                        <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                        <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                        <p class="slider__item-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <a href="" class="btn slider__item-btn">SEE MORE</a>
                    </div>
                    <div class="slider__item" style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url(/img/slide2.png);">
                        <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                        <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                        <p class="slider__item-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <a href="" class="btn slider__item-btn">SEE MORE</a>
                    </div>
                    <div class="slider__item" style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url(/img/slide3.png);">
                        <h2 class="slider__item-h2">ARE YOU SEARCHING A BOOK...?</h2>
                        <h1 class="slider__item-h1">NBLUE LIBRARY</h1>
                        <p class="slider__item-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <a href="" class="btn slider__item-btn">SEE MORE</a>
                    </div>
                </div>
            </div>
            <i class="btn_next fas fa-chevron-right"></i> -->
        </div>
        <div class="typebook">
            <div class="title">
                <h1 class="title__big">Our Top Categories</h1>
                <h3 class="title__small">Here are some of the Top Categories of
                    the Books Available.</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="typebook__list">
                    <div class="row">
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >EBOOK</a></h2>
                                <p class="typebook__item-info">an electronic
                                    version of a printed book that can be read
                                    on a computer.</p>
                                <a href="" class="typebook__item-link">Learn
                                    More</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >EBOOK</a></h2>
                                <p class="typebook__item-info">an electronic
                                    version of a printed book that can be read
                                    on a computer.</p>
                                <a href="" class="typebook__item-link">Learn
                                    More</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >EBOOK</a></h2>
                                <p class="typebook__item-info">an electronic
                                    version of a printed book that can be read
                                    on a computer. Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Natus,
                                    voluptates nemo deserunt suscipit
                                    voluptatibus corrupti. Aspernatur
                                    praesentium doloribus odit libero totam
                                    esse, saepe, architecto deleniti facere
                                    dolorum cupiditate facilis sequi!</p>
                                <a href="" class="typebook__item-link">Learn
                                    More</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >EBOOK</a></h2>
                                <p class="typebook__item-info">an electronic
                                    version of a</p>
                                <a href="" class="typebook__item-link">Learn
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topbook">
            <div class="title">
                <h1 class="title__big color-fff">Our Top Categories</h1>
                <h3 class="title__small color-fff">Here are some of the Top
                    Categories of the Books Available.</h3>
                <section class="title__icon color-fff">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="topbook__title">
                    <div class="topbook__title-wrap">
                        <ul class="topbook__title-list">
                            <li class="topbook__title-item active">Sách khoa học</li>
                            <li class="topbook__title-item">Sách văn học</li>
                            <li class="topbook__title-item">Sách thiếu nhi</li>
                            <li class="topbook__title-item">Khác</li>
                        </ul>
                    </div>
                </div>
                <div class="topbook__container">
                    <div class="topbook__slide">
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p class="book__item-hover-author">Dr.Machale
                                    Dr.Machale Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book2.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale Lorem ipsum dolor sit amet
                                    consectetur, adipisicing elit. Minus, illo
                                    sint assumenda neque quas quos. Ratione vel
                                    aspernatur illo labore, aliquid, placeat in
                                    ea dolore adipisci dolorum, iusto cum
                                    consequuntur?</p>

                                <p class="book__item-hover-author">Dr.Machale
                                    Dr.MachaleDr .MachaleDr.MachaleDr.Machale
                                    Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000000000000000000000000
                                    </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book3.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book4.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book5.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popularbook">
            <div class="title">
                <h1 class="title__big">Most Popular Books</h1>
                <h3 class="title__small">The Most Popular Books Today are
                    available in Book Library</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6">
                        <div class="popularbook__detail">
                            <img src="/img/books/book.png" alt="Ảnh minh họa" />
                            <div class="popularbook__detail-content">
                                <h1
                                    class="popularbook__detail-content-name"
                                >ENGAGING IMAGINATION</h1>
                                <h2
                                    class="popularbook__detail-content-author"
                                >Gillian Judson</h2>
                                <section
                                    class="popularbook__detail-content-like"
                                >
                                    <p>Like: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <p class="popularbook__detail-content-text">When
                                    asked what they want colleges to emphasize
                                    most, employers didn’t put science,
                                    computing, math, or business management
                                    first. According to 2013 employer survey,
                                    95% of employers give hiring preference to
                                    college graduates with skills that will
                                    enable them to contribute to innovation in
                                    the workplace. that will enable them to
                                    contribute to innovation in the workplace in
                                    the city town of the lost vallies.</p>
                                <a
                                    href=""
                                    class="popularbook__detail-content-link"
                                >See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="popularbook__books">
                            <div class="row">
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                                <div class="col l-4">
                                    <a href="" class="popularbook__book-link">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/book10.png"
                                            alt="Ảnh 1"
                                        />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="title">
                <h1 class="title__big color-fff">Our Testimonials</h1>
                <h3 class="title__small color-fff">What our clients say about
                    the books reviews and comments</h3>
                <section class="title__icon color-fff">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="testimonial__container">
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="topauthor">
            <div class="title">
                <h1 class="title__big">Our Top Authors</h1>
                <h3 class="title__small">Here are some of the Top Authors that
                    are available in Books Library</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3 padding-0">
                        <div
                            class="topauthor__item"
                            style="background-image: url(/img/lib-author.png)"
                        >
                            <section class="topauthor__item-hover">
                                <a href="" class="topauthor__btn">See more</a>
                            </section>
                            <section class="topauthor__item-display">
                                <p class="topauthor__item-name">NINA SORIYA</p>
                                <p class="topauthor__item-author">AUTHOR</p>
                            </section>
                        </div>
                    </div>
                    <div class="col l-3 padding-0">
                        <div
                            class="topauthor__item"
                            style="background-image: url(/img/lib-author2.png)"
                        >
                            <section class="topauthor__item-hover">
                                <a href="" class="topauthor__btn">See more</a>
                            </section>
                            <section class="topauthor__item-display">
                                <p class="topauthor__item-name">NINA SORIYA</p>
                                <p class="topauthor__item-author">AUTHOR</p>
                            </section>
                        </div>
                    </div>
                    <div class="col l-3 padding-0">
                        <div
                            class="topauthor__item"
                            style="background-image: url(/img/lib-author3.png)"
                        >
                            <section class="topauthor__item-hover">
                                <a href="" class="topauthor__btn">See more</a>
                            </section>
                            <section class="topauthor__item-display">
                                <p class="topauthor__item-name">NINA SORIYA</p>
                                <p class="topauthor__item-author">AUTHOR</p>
                            </section>
                        </div>
                    </div>
                    <div class="col l-3 padding-0">
                        <div
                            class="topauthor__item"
                            style="background-image: url(/img/lib-author4.png)"
                        >
                            <section class="topauthor__item-hover">
                                <a href="" class="topauthor__btn">See more</a>
                            </section>
                            <section class="topauthor__item-display">
                                <p class="topauthor__item-name">NINA SORIYA</p>
                                <p class="topauthor__item-author">AUTHOR</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>