/* --------------------CONTAINER ADMIN---------------------- */
.container {
    margin-top: var(--header-height);
}
.container-admin {
    background-color: #fff;
}

/* Books admin */
.admin-books,
.admin-users {
    padding-top: 8px;
}
.container-admin .admin-control {
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    display: flex;
    width: 240px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: #363636;
    padding: 8px;
}

.book__add-btn {
    background-image: linear-gradient(to bottom, #f39c12, #ffe173);
    width: 100%;
}

.chart-btn {
    background-image: linear-gradient(to bottom, #218c74, #11f837);
    width: 100%;
}

.sort-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #cd6133, #ff793f);
    position: relative;
    transition: all 0.3s linear;
    width: 100%;
}
.sort-btn .left-icon {
    transform: rotate(0);
    transition: transform 0.2s linear;
}
.sort-btn:hover .left-icon {
    transform: rotate(-90deg);
}
.sort-btn:hover .sort-list {
    display: block;
}

.sort-title {
    margin: 0 8px 0 0;
}

.sort-list {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    z-index: 1;
    animation: fadeIn linear 0.3s;
}
.sort-list::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 20px;
}
.sort-item {
    padding: 8px 32px;
    width: 100%;
    border-radius: 5px;
}
.sort-item:hover {
    background-color: #eee;
    font-weight: 600;
}
.book__label,
.user__label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cccccc;
    margin-right: 16px;
    border-radius: 5px;
    font-size: 1.6rem;
}

.admin-books .book__label p,
.admin-users .user__label p {
    margin: 0;
    padding: 12px 8px;
    border-left: 2px solid rgb(199, 196, 196);
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.6rem;
}
.admin-books .book__label .id,
.admin-users .user__label .id {
    border: none;
}

.admin-books .book__label .id,
.admin-books .book__label .type,
.admin-books .book__label .quantity,
.admin-books .book__item-id,
.admin-books .book__item-type,
.admin-books .book__item-quantity {
    max-width: 90px;
}

.admin-books .book__label .action,
.admin-books .book__item-action,
.admin-books .book__label .like,
.admin-books .book__item-like {
    max-width: 120px;
}

.admin-users .user__list,
.admin-books .book__list {
    margin: 8px 16px 8px 0;
}

.admin-users .user__item,
.admin-books .book__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(155, 151, 151, 0.6);
    color: var(--text-color);
    background-color: #dff9fb;
    font-size: 1.4rem;
}

.admin-users .user__item:last-child,
.admin-books .book__item:last-child {
    margin-bottom: 0;
}

.admin-users section,
.admin-books .book__item-id,
.admin-books .book__item-name,
.admin-books .book__item-author,
.admin-books .book__item-quantity,
.admin-books .book__item-like,
.admin-books .book__item-type {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-books .book__item-img {
    width: 100%;
    height: 80px;
    display: flex;
}

.admin-users p,
.admin-books .book__item-id .id_text,
.admin-books .book__item-name .name_text,
.admin-books .book__item-like .like_text,
.admin-books .book__item-type .type_text,
.admin-books .book__item-author .author_text,
.admin-books .book__item-quantity .quantity_text {
    margin: 0;
    text-align: center;
    margin: auto 8px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.admin-users section::before,
.admin-books .book__item-id::after,
.admin-books .book__item-name::after,
.admin-books .book__item-like::after,
.admin-books .book__item-type::after,
.admin-books .book__item-author::after,
.admin-books .book__item-quantity::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-right: 2px solid #fff;
    height: 80%;
}
.admin-books .book__item-type::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 80%;
    border-left: 2px solid #fff;
}
.admin-books .book__item-img .img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 49.2px;
    padding-top: 49.2px;
    margin: 8px auto;
}
.admin-books .book__item-action {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
}
.admin-books .book__item-action .action_btn {
    margin: 8px;
    font-size: 2em;
    cursor: pointer;
    padding: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.2s linear;
}
.admin-books .book__item-action .action_btn:first-child {
    border: 2px solid #6ab04c;
}
.admin-books .book__item-action .action_btn:last-child {
    border: 2px solid #e74c3c;
}
.admin-books .book__item-action .action_btn:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.admin-books .book__item-action .action_btn:hover .action_update-icon,
.admin-books .book__item-action .action_btn:hover .action_delete-icon {
    color: #fff;
}
.admin-books .book__item-action .action_btn:first-child:hover {
    background-color: #6ab04c;
}
.admin-books .book__item-action .action_btn:last-child:hover {
    background-color: #e74c3c;
}
.admin-books .book__item-action .action_update-icon {
    color: #6ab04c;
}

.admin-books .book__item-action .action_delete-icon {
    color: #e74c3c;
}

/* Book user */
.admin-users .user__label .id,
.admin-users .user__label .score,
.admin-users .user__item-id,
.admin-users .user__item-score {
    max-width: 80px;
}
.admin-users .user__label .username,
.admin-users .user__label .borrow__book,
.admin-users .user__item-username,
.admin-users .user_item-borrow__book {
    max-width: 108px;
}
.admin-users section:last-child:before {
    border: none;
}
.admin-users section {
    height: 50.5px;
}

/* FORM ADD BOOK */
.add__books {
    width: 650px;
    margin: 0 auto;
}
.create__books-title {
    padding: 20px;
    font-size: 3rem;
    color: #999;
    font-weight: 500;
    margin: 0;
}
.create__books-contain {
    padding: 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.form-group {
}
.form-label {
    font-size: 2rem;
    padding-bottom: 10px;
}
.book__name {
}
.form-message {
}
.group {
    display: flex;
}
.group__mini {
    flex: 1;
}

.group__mini:first-child {
    margin-right: 4px;
}
.group__mini:last-child {
    margin-left: 4px;
}
.typeBook_wrap {
    position: relative;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.arrow-icon {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 34px;
    background-color: #999;
    pointer-events: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon > i {
    font-size: 2.6rem;
}

#imgBook {
    display: none;
}
.imgBook {
    color: #75767a;
}
.imgBook i {
    margin-right: 4px;
}

.author-group {
}
.form-label {
}
.authors {
    display: flex;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    padding: 8px;
}
.author-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.author-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    margin-left: 8px;
}
.author-item-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.author-item-name {
    margin: 0 4px;
    font-size: 1.6rem;
}
.author-item-delete {
    outline: none;
    border: none;
}
.author-link-add {
}

#description {
    height: 100px;
    outline: none;
    resize: none;
}
