<div class="add__books">
    <h1 class="create__books-title">Thêm sách</h1>
    <form action="./add" method="POST" class="create__books-contain">
        <div class="form-group">
            <label for="book__name" class="form-label">Tên sách</label>
            <input
                type="text"
                class="form-control"
                id="book__name"
                name="book__name"
                placeholder="Nhập vào tên sách"
            />
            <span class="form-message"></span>
        </div>
        <div class="group">
            <div class="form-group group__mini">
                <label for="typeBook" class="form-label">Loại sách</label>
                <section class="typeBook_wrap">
                    <select class="form-control" id="typeBook" name="typeBook">
                        <option selected disabled>Loại sách:</option>
                        <option value="ctri_pluat">Chính trị - Pháp luật</option>
                        <option value="khoahoc_kte">Khoa học công nghệ - Kinh tế</option>
                        <option value="vhoc_nthuat">Văn học nghệ thuật</option>
                        <option value="vhoa_lsu">Văn hóa xã hội - Lịch sử</option>
                        <option value="gtr">Giáo trình</option>
                        <option value="truyen">Truyện, tiểu thuyết</option>
                        <option value="tly_tongiao">Tâm lý, tâm linh, tôn giáo</option>
                        <option value="thieunhi">Sách thiếu nhi</option>
                    </select>
                    <span class="arrow-icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </section>
                <span class="form-message"></span>
            </div>
            <div class="form-group group__mini">
                <label for="numberBook" class="form-label">Số lượng</label>
                <input
                    type="number"
                    class="form-control"
                    id="numberBook"
                    name="numberBook"
                    min="0"
                    max="150"
                    placeholder="Nhập số lượng"
                />
                <span class="form-message"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="imgBook" class="form-label">Chọn ảnh</label>
            <label class="form-control imgBook" for="imgBook">
                <i class="fas fa-images"></i>
                Thêm ảnh cho sách
            </label>
            <input
                type="file"
                class=""
                id="imgBook"
                name="imgBook"
                accept="image/*"
            />
            <span class="form-message"></span>
        </div>
        <div class="form-group author-group">
            <label for="description" class="form-label">Tác giả (s):</label>
            <div class="authors">
                <ul class="author-list">
                    <li class="author-item">
                        <img
                            src="/img/authors/lib-author3.png"
                            alt=""
                            class="author-item-img"
                        />
                        <p class="author-item-name">Nguyễn Phương Nam</p>
                        <button class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li>
                    {{! <li class="author-item">
                        <img
                            src="/img/authors/lib-author2.png"
                            alt=""
                            class="author-item-img"
                        />
                        <p class="author-item-name">Nguyễn Phương Nam</p>
                        <button class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li>
                    <li class="author-item">
                        <img
                            src="/img/authors/lib-author3.png"
                            alt=""
                            class="author-item-img"
                        />
                        <p class="author-item-name">Nguyễn Phương Nam</p>
                        <button class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li>
                    <li class="author-item">
                        <img
                            src="/img/authors/lib-author3.png"
                            alt=""
                            class="author-item-img"
                        />
                        <p class="author-item-name">Nguyễn Phương Nam</p>
                        <button class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li> }}
                    <li class="author-action">
                        <a href="" class="author-link-add">
                            <i class="fas fa-plus"></i>
                            <p>Thêm tác giả</p>
                        </a>
                    </li>
                </ul>
            </div>
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mô tả</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                row="3"
                placeholder="Mô tả về sách...."
            ></textarea>
            <span class="form-message"></span>
        </div>
        <button class="btn btn-form btn-submit" type="submit">Lưu</button>
        <button class="btn btn-form btn-cancel">Trở lại</button>
    </form>
</div>