<div class="add__books">
    <h1 class="create__books-title">Thêm sách</h1>
    <form action="./add/1" method="POST" class="create__books-contain"
    encType="multipart/form-data">
        <div class="form-group">
            <label for="book__name" class="form-label">Tên sách</label>
            <input
                type="text"
                class="form-control"
                id="book__name"
                name="bookName"
                placeholder="Nhập vào tên sách"
            />
            <span class="form-message"></span>
        </div>
        <div class="group">
            <div class="form-group group__mini">
                <label for="typeBook" class="form-label">Loại sách</label>
                <section class="typeBook_wrap">
                    <select class="form-control" id="typeBook" name="typeBook">
                        <option selected disabled>Loại sách:</option>
                        <option value="Chính trị - Pháp luật">Chính trị - Pháp luật</option>
                        <option value="Khoa học công nghệ - Kinh tế">Khoa học công nghệ - Kinh tế</option>
                        <option value="Văn học nghệ thuật">Văn học nghệ thuật</option>
                        <option value="Văn hóa xã hội - Lịch sử">Văn hóa xã hội - Lịch sử</option>
                        <option value="Giáo trình">Giáo trình</option>
                        <option value="Truyện, tiểu thuyết">Truyện, tiểu thuyết</option>
                        <option value="Tâm lý, tâm linh, tôn giáo">Tâm lý, tâm linh, tôn giáo</option>
                        <option value="Sách thiếu nhi">Sách thiếu nhi</option>
                    </select>
                    <span class="arrow-icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </section>
                <span class="form-message"></span>
            </div>
            <div class="form-group group__mini">
                <label for="numberBook" class="form-label">Số lượng</label>
                <input
                    type="number"
                    class="form-control"
                    id="numberBook"
                    name="numberBook"
                    min="0"
                    max="150"
                    placeholder="Nhập số lượng"
                />
                <span class="form-message"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="imgBook" class="form-label">Chọn ảnh</label>
            <label class="form-control imgBook" for="imgBook">
                <i class="fas fa-images"></i>
                Thêm ảnh sách
            </label>
            <input
                type="file"
                class=""
                id="imgBook"
                name="imgBook"
                accept="image/*"
            />
            <span class="form-message"></span>
        </div>
        <div class="form-group author-group">
            <label for="description" class="form-label">Tác giả (s):</label>
            <div class="authors">
                <ul class="author-list">
                    {{!-- <li class="author-item">
                        <img
                            src="/img/authors/lib-author3.png"
                            alt=""
                            class="author-item-img"
                        />
                        <p class="author-item-name">Nguyễn Phương Nam</p>
                        <button class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </button>
                    </li> --}}
                    
                </ul>
                <section class="author-action">
                    <a class="author-link-add">
                        <i class="fas fa-plus"></i>
                        <p>Thêm tác giả</p>
                    </a>
                </section>
            </div>
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mô tả</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                row="3"
                placeholder="Mô tả về sách...."
            ></textarea>
            <span class="form-message"></span>
        </div>
        <button class="btn btn-form btn-submit" type="submit">Lưu</button>
        <button class="btn btn-form btn-cancel" type="button" onclick="onCancel()">Trở lại</button>
    </form>
</div>

{{!-- Select Author to Book --}}
<div class="select">
    <div class="modal">
        <div class="modal-content">
            <header class="modal-header header-select">
                <h5>Thêm tác giả</h5>
                <button type="button" class="btn-close" onclick="onCancel()">
                    <img src="/img/other/remove_icon.png" alt="">                        
                </button>
            </header>
            <dib class="modal-container">
                <ul class="authors">
                    {{#each data}}
                    <li class="author" data-id="{{this.IdAuthor}}">
                        <section>
                            <img src="/img/authors/{{this.ImgAuthor}}" class="author-img" alt="">
                            <p class="author-name">{{this.Name}}</p>
                        </section>
                    </li>
                    {{/each}}
                </ul>
            </dib>
            <footer class="modal-footer">
                <button type="button" class="btn btn-primary modal-btn ok-btn">OK</button>
                <section class="modal-footer-link">
                    <a href="">Chưa có tác giả trong hệ thống? - Thêm dữ liệu tác giả</a>
                </section>
            </footer>
        </div>
    </div>
</div>

<script>
    const modal = document.querySelector(".modal")
    const confirmBtn = document.querySelector(".ok-btn")
    const customText = document.querySelector(".imgBook");
    const realFileBtn = document.querySelector("#imgBook");
    const CustomAuthors = document.querySelectorAll(".author");
    const renderAuthors = document.querySelector(".author-list");
    const openSelectAuthor = document.querySelector(".author-action")
    const addDataBook = document.querySelector(".create__books-contain");
    var idAuthor;

    // Get file image
    realFileBtn.addEventListener("change", function() {
        if(realFileBtn.value){
            customText.innerHTML = realFileBtn.value.match(/[\\\\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            customText.style.color = "#333"; 
        } else { 
            customText.innerHTML = "Thêm ảnh cho tác giả" 
            customText.style.color = "#ccc"; 
        } 
    })

    // Delete author in addBook by delere-btn
    onDelete = function(e) {
        e.closest(".author-item").remove();
        var index = e.closest(".author-item").getAttribute("data-id")
        CustomAuthors.forEach(function (customAuthor) {
            if(customAuthor.getAttribute("data-id") === index) 
                customAuthor.classList.remove("active");
        })
    }


    // Show modal authors options
    openSelectAuthor.onclick = function(){
        modal.classList.add("active");
    }
    function onCancel() {
        modal.classList.remove("active");
    }

    CustomAuthors.forEach(function (customAuthor) {
        customAuthor.addEventListener("click", function () {
            customAuthor.classList.toggle("active")
        })
    })
    
    chooseAuthor = function(){
        confirmBtn.addEventListener("click", function (e) {
            // Delete all author in input addBook
            const renderAuthor = document.querySelectorAll(".author-item");
            if(renderAuthor !== null){
                renderAuthor.forEach(function (author) {
                    author.remove();
                })
            }

            //Add book and render
            const id = []
            const AuthorActive = [];
            CustomAuthors.forEach(function (customAuthor) {
                if(customAuthor.classList.contains("active")){
                    let author = {}
                    author.id = customAuthor.getAttribute("data-id");
                    author.img = customAuthor.querySelector(".author-img").getAttribute("src")
                    author.name =  customAuthor.querySelector(".author-name").innerText
                    AuthorActive.push(author)
                }
            })
            const html = AuthorActive.map((author, index) => {
                id.push(author.id)
                return `
                    <li class="author-item" data-id="${author.id}">
                            <img
                                src="${author.img}"
                                alt=""
                                class="author-item-img"
                            />
                            <p class="author-item-name">${author.name}</p>
                            <button type="button" onclick="onDelete(this)" class="author-item-delete">
                                <i class="fas fa-minus"></i>
                            </button>
                    </li>
                `;
            });


            renderAuthors.innerHTML = html.join("");
            modal.classList.remove("active");
            idAuthor = id;
        })

    }

    getIdAuthor = async function(){
        return await chooseAuthor();
    }
    getIdAuthor().then(console.log(idAuthor));

    // POST Id author
</script>