<div class="add__authors">
    <h1 class="create__author-title">Thêm tác giả</h1>
    <form action="./add" method="POST" class="create__author-contain" encType="multipart/form-data">
        <div class="form-group">
            <label for="author__name" class="form-label">Tên tác giả</label>
            <input
                type="text"
                class="form-control"
                id="author__name"
                name="author__name"
                placeholder="Nhập vào tên tác giả"
            />
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <label for="imgAuthor" class="form-label">Chọn ảnh</label>
            <label class="form-control imgAuthor" for="imgAuthor">
                <i class="fas fa-images"></i>
                Thêm ảnh tác giả
            </label>
            <input
                type="file"
                class=""
                name="imgAuthor"
                id="imgAuthor"
                accept="image/*"
            />
            <span class="form-message"></span>
        </div>

    <div class="group">
            <div class="form-group group__mini">
                <label for="typeBook" class="form-label">Loại sách</label>
                <section class="typeBook_wrap">
                    <select class="form-control" id="typeBook" name="typeBook">
                        <option selected disabled>Loại sách:</option>
                        <option value="ctri_pluat">Chính trị - Pháp luật</option>
                        <option value="khoahoc_kte">Khoa học công nghệ - Kinh tế</option>
                        <option value="vhoc_nthuat">Văn học nghệ thuật</option>
                        <option value="vhoa_lsu">Văn hóa xã hội - Lịch sử</option>
                        <option value="gtr">Giáo trình</option>
                        <option value="truyen">Truyện, tiểu thuyết</option>
                        <option value="tly_tongiao">Tâm lý, tâm linh, tôn giáo</option>
                        <option value="thieunhi">Sách thiếu nhi</option>
                    </select>
                    <span class="arrow-icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </section>
                <span class="form-message"></span>
            </div>
            <div class="form-group group__mini">
                <label for="numberBook" class="form-label">Số lượng</label>
                <input
                    type="number"
                    class="form-control"
                    id="numberBook"
                    name="numberBook"
                    min="0"
                    max="150"
                    placeholder="Nhập số lượng"
                />
                <span class="form-message"></span>
            </div>
        </div>

        <button class="btn btn-form btn-submit" type="submit">Lưu</button>
        <button class="btn btn-form btn-cancel">Trở lại</button>
    </form>

    <script>
        const customText = document.querySelector(".imgAuthor"); 
        const realFileBtn = document.querySelector("#imgAuthor");
        realFileBtn.addEventListener("change", function(){
            if(realFileBtn.value){ 
                customText.innerHTML = realFileBtn.value.match(/[\\\\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                customText.style.color = "#333"; 
            } else { 
                customText.innerHTML = "Thêm ảnh cho tác giả" 
                customText.style.color = "#ccc"; 
            } 
        })
    </script>
</div>