<div class="container-admin">
    <div class="admin-authors">
        <div class="admin-control">
            <div class="btn book__add-btn width-100">
                Thêm tác giả
                <i class="plus-icon fas fa-plus"></i>
            </div>
            <div class="btn chart-btn width-100">Thống kê
                <i class="chart-icon fas fa-chart-pie"></i>
            </div>
            <div class="btn sort-btn width-100">
                <p class="sort-title">Sắp xếp</p>
                <i class=" left-icon  fas fa-chevron-left"></i>
                <ul class="sort-list">
                    <li class="sort-item">ID</li>
                    <li class="sort-item">Viết nhiều sách</li>
                    <li class="sort-item">Viết ít sách</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col l-2">
            </div>
            <div class="col l-10">
                <div class="author__label">
                    <p class="id">ID</p>
                    <p class="name">Tên tác giả</p>
                    <p class="img">Ảnh tác giả</p>
                    <p class="action">Tùy chọn</p>
                </div>
                <div class="author__list">
                  
                    {{#each data}}
                    <div class="author__item">
                        <section class="author__item-id">
                            <p class="id_text">{{this.IdAuthor}}</p>
                        </section>
                        <section class="author__item-name">
                            <p class="name_text">{{this.Name}}</p>
                        </section>
                        <section class="author__item-img">
                            <div class="img" style="background-image: url(/img/authors/{{this.ImgAuthor}});"></div>
                        </section>
                        <section class="author__item-action">
                            <div class="action_btn">
                                <i class="action_update-icon fas fa-pen-square"></i>
                            </div>
                            <div class="action_btn">
                                <i class=" action_delete-icon fas fa-trash-alt"></i>
                            </div>
                        </section>
                    </div>  
                    {{/each}}    
                       
                </div>
                <div class="pagination">
                    <ul class="pagination-list">
                        <li class="pagination-item">
                            <a href="" class="pagination-prev"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">2</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">3</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-next"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>