<div class="container-admin">
    <div class="admin-home">
        <div class="grid">
            <div class="statistic">
                <div class="row">
                    <div class="col l-6">
                        <div class="statistic_wrap">
                            <div class="statistic_users">
                                <div class="lock">
                                    <h1 class="title">Người dùng tạm thời bị khóa</h1>
                                    <div class="wrap">
                                        <ul class="list-title">
                                            <p class="list-title-id">Id</p>
                                            <p class="list-title-name">Tên</p>
                                            <p class="list-title-status">Trạng thái</p>
                                            <p class="list-title-action">Hành động</p>
                                        </ul>
                                        <ul class="list">
                                            <li class="item">
                                                <p class="item-id">10</p>
                                                <p class="item-name">Đào Xuân An</p>
                                                <p class="item-status">Có thể mở khóa</p>
                                                <a href="" class="item-button">Mở khóa</a>
                                            </li>
                                            <li class="item">
                                                <p class="item-id">10</p>
                                                <p class="item-name">Đào Xuân An</p>
                                                <p class="item-status">Có thể mở khóa</p>
                                                <a href="" class="item-button">Mở khóa</a>
                                            </li>
                                            <li class="item">
                                                <p class="item-id">10</p>
                                                <p class="item-name">Đào Xuân An</p>
                                                <p class="item-status">Có thể mở khóa</p>
                                                <a href="" class="item-button">Mở khóa</a>
                                            </li>
                                            <li class="item">
                                                <p class="item-id">10</p>
                                                <p class="item-name">Đào Xuân An</p>
                                                <p class="item-status">Có thể mở khóa</p>
                                                <a href="" class="item-button">Mở khóa</a>
                                            </li>
                                            <li class="item">
                                                <p class="item-id">10</p>
                                                <p class="item-name">Đào Xuân An</p>
                                                <p class="item-status">Có thể mở khóa</p>
                                                <a href="" class="item-button">Mở khóa</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="waring-lock">
                                    <h1 class="title">Người dùng có điểm ở mức thấp</h1>
                                    <ul class="list-title">
                                        <p class="list-title-id">Id</p>
                                        <p class="list-title-name">Tên</p>
                                        <p class="list-title-point">Điểm uy tín</p>
                                    </ul>
                                    <ul class="list">
                                        <li class="item">
                                            <p class="item-id">10</p>
                                            <p class="item-name">Đào Xuân An</p>
                                            <p class="item-point">Có thể mở khóa</p>
                                        </li>
                                        <li class="item">
                                            <p class="item-id">10</p>
                                            <p class="item-name">Đào Xuân An</p>
                                            <p class="item-point">Có thể mở khóa</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="statistic_author">
                                    
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="statistic_book">
                            <canvas id="myChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
             <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)',
                                'rgb(255, 206, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(153, 102, 255)',
                                'rgb(255, 159, 64)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
</div>