<div class="container-admin">
    <div class="admin-home">
        <div class="grid width">
            <div class="statistic">
                <div class="row">
                    <div class="col l-6">
                        <div class="statistic_wrap"></div>
                    </div>
                    <div class="col l-6">
                        <div class="statistic_book"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>