<div class="create__books">
    <div class="grid wide">
        <h1 class="create__books-title">Thêm sách</h1>
        <form action="./create" method="POST"class="create__books-contain">
            <!-- <div class="col-md-4">
                <label for="book__name" class="form-label">Tên sách</label>
                <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    value="Mark"
                    required
                />
                <div class="valid-feedback">Looks good!</div>
            </div> -->
            
                <button class="btn btn-primary" type="submit">
                    Submit form
                </button>
            </div>
        </form>
    </div>
</div>