<div class="container-users">
    <div class="grid wide">
        <div class="myBorrow">
            <div class="myBorrow-header">
                <h1>Xem danh sách: </h1>
                <select class="form-control type-borrow">
                    <option value="Sách đang mượn">Sách đang mượn</option>
                    <option value="Sách đã mượn">Sách đã mượn</option>
                </select>
            </div>
            <div class="myBorrow-content">
                <div class="borrowing">
                    <ul class="labels">
                        <li class="label"> Ảnh</li>
                        <li class="label"> Tên sách</li>
                        <li class="label"> Tác giả</li>
                        <li class="label"> Ngày mượn</li>
                        <li class="label"> Ngày trả</li>
                        <li class="label"> Ghi chú</li>
                        <li class="label"> Hành động</li>
                    </ul>
                    <ul class="books">
                        <li class="book">
                            <section class="book-img">
                                <img src="/img/books/book.png" alt="">
                            </section>
                            <p class="book-name"> sách của Nam Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <p class="book-author">Nguyễn Phương Nam</p>
                            <input class="book-BorrowDate" disabled type="date" value="2021-12-24">
                            <input class="book-ReturnDate" disabled type="date" value="2021-12-24">
                            <p class="book-note">còn 10 ngày</p>
                            <section class="book-action">
                                <button class="book-delete-btn">
                                    Trả sách
                                </button>
                            </section>
                        </li>
                        <li class="book">
                            <section class="book-img">
                                <img src="/img/books/book2.png" alt="">
                            </section>
                            <p class="book-name"> sách của Nam Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <p class="book-author">Nguyễn Phương Nam</p>
                            <input class="book-BorrowDate" disabled type="date" value="2021-12-24">
                            <input class="book-ReturnDate" disabled type="date" value="2021-12-24">
                            <p class="book-note">còn 10 ngày</p>
                            <section class="book-action">
                                <button class="book-delete-btn">
                                    Trả sách
                                </button>
                            </section>
                        </li>
                        <li class="book">
                            <section class="book-img">
                                <img src="/img/books/book3.png" alt="">
                            </section>
                            <p class="book-name"> sách của Nam Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <p class="book-author">Nguyễn Phương Nam</p>
                            <input class="book-BorrowDate" disabled type="date" value="2021-12-24">
                            <input class="book-ReturnDate" disabled type="date" value="2021-12-24">
                            <p class="book-note">còn 10 ngày</p>
                            <section class="book-action">
                                <button class="book-delete-btn">
                                    Trả sách
                                </button>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>