<div class="container-users">
    <div class="grid wide">
        <div class="myBorrow">
            <div class="myBorrow-header">
                <h1>Xem danh sách: </h1>
                <select class="form-control" id="typeBook" name="typeBook">
                    <option value="Chính trị - Pháp luật">Sách đang mượn</option>
                    <option value="Khoa học công nghệ - Kinh tế">Sách đã mượn</option>
                </select>
            </div>
        </div>
    </div>
</div>