<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quản lí thư viện</title>
        <link rel="icon" href="/img/logo.png"  type="image/x-icon" >

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />

        <!-- icon -->
        <link rel="stylesheet" href="/font/fontawesome-free-5.15.3/css/all.min.css">

        <!-- reset CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
            integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
          />


        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/user.css">
        <link rel="stylesheet" href="/css/modal.css">
        <link rel="stylesheet" href="/css/grid.css">
    </head>
    <body>
        <div class="app">
            {{> header }}

            <div id="container" class="container">
                <div class="grid">
                    {{{body}}}
                </div>
            </div>

            {{> footer }}
        </div>
    </body>

    {{!-- Scripts --}}
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script>
        $(document).ready(function () {
            $(".slider").slick({
                infinite: true,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow:
                    "<button type='button' class='slick-prev pull-left slick-arrow'><i class='fa fa-angle-left' aria-hidden='true'></i></button>",
                nextArrow:
                    "<button type='button' class='slick-next pull-right slick-arrow'><i class='fa fa-angle-right' aria-hidden='true'></i></button>",
                dots: true,
            });
        });

        // Top book slider
        $(document).ready(function () {
            $(".topbook__slide.active").slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                prevArrow:
                    "<button type='button' class='slick-prev pull-left topbook__slick-arrow'><i class='fas fa-long-arrow-alt-left' aria-hidden='true'></i></button>",
                nextArrow:
                    "<button type='button' class='slick-next pull-right topbook__slick-arrow'><i class='fas fa-long-arrow-alt-right' aria-hidden='true'></i></button>",
            });
        });

        // testimonial
        $(document).ready(function () {
            $(".testimonial__container").slick({
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 1,
                arrows: false,
            });
        });
    </script>
</html>