<div class="container-users" data-id="{{data.IdUser}}" name="{{data.Username}}">
    <div class="accout">
        <div class="accout__user">
            <div class="grid wide" style="width: 1000px">
                <div class="row">
                    <div class="col l-4">
                        <div class="avatar">
                            <h3 class="avatar__title">Tài khoản</h3>
                            <img src="./assets/img/lib-author3.png" alt="" class="avatar__img">
                            <h4 class="avatar__name">Nguyen Phuong Nam</h4>
                            <h4 class="avatar__point">Điểm uy tín: 
                                <span>100</span>
                            </h4>
                            <button class=" update__password-btn">Đổi mật khẩu</button>
                            <button class="avatar__backspace-btn"><i class="fas fa-sign-out-alt"></i></button>
                        </div>
                    </div>
                    <div class="col l-8">
                        <div class="info">
                            <h3 class="info__title">Thông tin tài khoản</h3>
                            <div class="info-wrap">
                                <section class="form-group">
                                    <label for="username" class="form-label">Tên đăng nhập</label>
                                    <input disabled type="text" class="form-control"id="username" name="username" type="text" placeholder="user1" class="form-control"/>
                                </section>
                                <section class="form-group">
                                    <label for="fullname" class="form-label">Tên đầy đủ</label>
                                    <input id="fullname" name="fullname" type="text" placeholder="Nguyen Phuong Nam" class="form-control"/>
                                </section>
                            </div>
                            <section class="form-group">
                                <label for="phone" class="form-label">Số điện thoại</label>
                                <input id="phone" name="phone" type="text" placeholder="0979926367" class="form-control"/>
                            </section>
                            <section class="form-group">
                                <label for="address" class="form-label">Địa chỉ</label>
                                <input id="address" name="address" type="text" placeholder="Hải Hậu - Nam Định" class="form-control"/>
                            </section>
                            <button class="btn info__update-btn">Cập nhật thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>