<div class="container-users">
    <!-- AUTHORS -->
    <div class="authors">
        <div class="grid wide">
            <div class="row">
                {{#each data}}
                <div class="col l-4">
                    <div class="author__item" style="display: none">
                        <img class="author__item-img" src="/img/authors/{{this.ImgAuthor}}" alt="">
                        <div class="author__hover">
                            <section class="author__hover-info">
                                <p class="author__hover-info-name">{{this.Name}}</p>
                                <p class="author__hover-info-author">TÁC GIẢ</p>
                                <a href="authors/{{this.IdAuthor}}"class="author__hover-btn">XEM SÁCH</a>
                            </section>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div id="pagination" class="pagination"></div>
        </div>
    </div>
</div>                        