<div class="container-users">
    <div class="cart__books">
        <div class="grid wide">
            <h1 class="title">Mượn sách</h1>
            <div class="row">
                <div class="col l-9">
                    <div class="cart__books-info">
                        <ul class="labels">
                            <li class="label"> Ảnh</li>
                            <li class="label"> Tên</li>
                            <li class="label"> Tác giả</li>
                            <li class="label">Thể loại</li>
                            {{!-- <li class="label"> Xóa</li> --}}
                        </ul>
                        <ul class="books">
                            <li class="book">
                                <section class="book-img">
                                    <img src="/img/books/book7.png" alt="">
                                </section>
                                <p class="book-name">Lorem ipsum dolor sit amet, consectetur adip</p>
                                <p class="book-author">Nam Nguyen</p>
                                <p class="book-type">Văn học nghệ thuật</p>
                                {{!-- <section class="book-delete">
                                    <button class="book-delete-btn">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </section> --}}
                            </li>
                            {{!-- <li class="book">
                                <section class="book-img">
                                    <img src="/img/books/book5.png" alt="">
                                </section>
                                <p class="book-name">Lorem ipsum dolor sit amet, consectetur adip</p>
                                <p class="book-author">Nam Nguyen</p>
                                <div class="book-number">
                                    <ul class="book-number-control">
                                        <li class="book-sub-btn book-number-item"><i class="fas fa-minus"></i></li>
                                        <li class="book-number-show book-number-item">10</li>
                                        <li class="book-add-btn book-number-item"><i class="fas fa-plus"></i></li>
                                    </ul>
                                </div>
                                <section class="book-delete">
                                    <button class="book-delete-btn">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </section>
                            </li>
                            <li class="book">
                                <section class="book-img">
                                    <img src="/img/books/book4.png" alt="">
                                </section>
                                <p class="book-name">Lorem ipsum dolor sit amet, consectetur adip</p>
                                <p class="book-author">Nam Nguyen</p>
                                <div class="book-number">
                                    <ul class="book-number-control">
                                        <li class="book-sub-btn book-number-item"><i class="fas fa-minus"></i></li>
                                        <li class="book-number-show book-number-item">10</li>
                                        <li class="book-add-btn book-number-item"><i class="fas fa-plus"></i></li>
                                    </ul>
                                </div>
                                <section class="book-delete">
                                    <button class="book-delete-btn">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </section>
                            </li>
                            <li class="book">
                                <section class="book-img">
                                    <img src="/img/books/book4.png" alt="">
                                </section>
                                <p class="book-name">Lorem ipsum dolor sit amet, consectetur adip</p>
                                <p class="book-author">Nam Nguyen</p>
                                <div class="book-number">
                                    <ul class="book-number-control">
                                        <li class="book-sub-btn book-number-item"><i class="fas fa-minus"></i></li>
                                        <li class="book-number-show book-number-item">10</li>
                                        <li class="book-add-btn book-number-item"><i class="fas fa-plus"></i></li>
                                    </ul>
                                </div>
                                <section class="book-delete">
                                    <button class="book-delete-btn">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </section>
                            </li>
                         --}}
                        </ul>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="cart__books-confirm">
                        <section class="time">
                            <p class="time-title">Thời gian mượn:</p>
                            <section class="time-date time-borrow">01/05/2021</section>
                        </section>
                        <section class="time">
                            <p class="time-title">Thời gian trả:</p>
                            <input type="date" class="time-date time-giver">
                        </section>
                    </div>
                    <button class="btn cart___books-confirm-btn">Xác nhận mượn sách</butt>
                </div>
            </div>
        </div>
    </div>
</div>